body {
    margin: 0;
    padding: 0;
    direction: ltr;
}

.nav {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;

    background: #64AFC0;
    background: linear-gradient(45deg, #64AFC0 0, #35D8B3 100%);
    background: -moz-linear-gradient(45deg, #64AFC0 0, #35D8B3 100%);
    background: -webkit-linear-gradient(45deg, #64AFC0 0, #35D8B3 100%);
    background: -o-linear-gradient(45deg, #64AFC0 0, #35D8B3 100%);
    background: -ms-linear-gradient(45deg, #64AFC0 0, #35D8B3 100%);
}

.nav .header-title {
    font-family: monospace;
    font-size: 20px;
    color: white;
    margin: 15px;
    text-align: center;
}

.nav .nav-header {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.nav .social-media {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 300px;
    margin-right: auto;
}

.nav .social-media img {
    margin: 10px;
    width: 30px;
    height: 30px;
    fill: white;
}

.nav .profile, .nav .user-info {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    -webkit-display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.nav .profile img {
    display:
    margin: 0px auto;
    height: 150px;
    width: 150px;
    border-radius: 75px;
}
